.wrapper{
  width: 80%;
  padding: 20px 10px;
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 20px;
}
.list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
}
.title{
  text-align: center;
  color:black;
  text-decoration: underline;
  margin-bottom: 20px;
}
.item{
  background-color: teal;
  color:white;
  font-weight: 500;
  padding: 8px 4px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 1px gray;
  text-align: center;
  transition: .3s all ease;
}
.item:hover{
  background-color: blue;
}
.favourite{
  background-color: violet;
}