*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  background-color: teal;
  padding: 20px 10px;
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;

}
.textBlack{
  color:black;
}
.title{
  color:rgb(0, 139, 28);
}
.header{
  font-size: 30px;
  font-style: italic;
}